            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
    </div>
    <!-- Main Container -->

    <!--Page Related Scripts-->
    <script src="/statics/js/charts/morris/raphael-2.0.2.min.js"></script>
    <script src="/statics/js/datatable/jquery.dataTables.min.js"></script>
    <script src="/statics/js/datatable/ZeroClipboard.js"></script>
    <script src="/statics/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="/statics/js/datatable/dataTables.bootstrap.min.js"></script>