<footer role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="left col-md-7">
                <ul class="links">
                    
                </ul>
            </div>
            <div class="right col-md-12">
                <ul class="links">
                </ul>
                <div class="copyright">
                    <a id="footer-microsoft-link" class="logo" href="~/">
                        <img class="microsoft-logo" src="/statics/module/xoffical/images/logo.jpg" height="20"
                            alt="而已网络"><span
                            style="font-size: 16px;color: white;margin-left: 5px;padding-top: 2px">而已网络</span>
                    </a>
                    <span>© 2019 <span itemprop="publisher" itemscope="" itemtype="">
                            <span itemprop="name">蜀ICP备19013189号-1</span></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
<!--  /Body -->

</html>