<% include Modules/Offical/View/Common/header.cshtml %>
<% include Modules/Offical/View/Common/nav_bar.cshtml %>
    <div role="main" id="main-content">
        <div class="container">
            <div class="row" class="text-center">
                <center>
                    <div style="background-image: url('/statics/module/xoffical/images/eryi_net.png');background-repeat: no-repeat;background-position: center;width:500px;height:600px;">

                    </div>
                </center>
            </div>
        </div>
    </div>
</div>
<% include Modules/Offical/View/Common/footer.cshtml %>