<html>
    <head>
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="minimal-ui,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="white">
        <meta name="format-detection" content="telephone=no">
        <meta name="robots" content="noindex,nofollow">
        <link rel="dns-prefetch" href="https://api.fir.im">
        <link rel="dns-prefetch" href="https://download.fir.im">
        <script src="/statics/qrcode/qrcode.js"></script>
        <script src="/statics/custom/tool.js"></script>
        <link href="/statics/module/xoffical/css/admin_product.css" rel="stylesheet">
    </head>
    <body class="">
        <span class="pattern left"><img src="https://ali-static.fir.im/download_pattern_left.png"></span>
        <span class="pattern right"><img src="https://ali-static.fir.im/download_pattern_right.png"></span>
        <div class="out-container">
            <div class="main">
                <header itemscope="" itemtype="http://schema.org/SoftwareApplication">
                    <div class="table-container">
                        <div class="cell-container">
                            <div class="app-brief">
                            <div class="icon-container wrapper">
                                <i class="icon-icon_path bg-path"></i>
                                <span class="icon">
                                    <img src="/statics/module/offical/images/icon_ey_fish.png" itemprop="image">
                                    </span>
                                    <span class="qrcode" title="" id="qrcode">
                                </span>
                            </div>
                            
                            <p class="release-type wrapper">&nbsp;</p>
                            
                            <h1 class="name wrapper">
                                <span class="icon-warp">
                                    <i class="icon-android"></i>
                                    滴滴播放器
                                </span>
                            </h1>
                            <div class="release-info">
                                <p><span itemprop="softwareVersion">3.2 (Build 3)
                                    - 28.7 MB</span></p>
                                <p>更新于: <span itemprop="datePublished">2019-10-12 20:54</span></p>
                            </div>
                            <div id="actions" class="actions type-android">
                                <a id="id_a_dl" href="#">下载安装</a>
                            </div>
                            <small class="center">暂时仅支持android</small>
                            </div>
                        </div>
                    </div>
                    <img id="tip_dl" src="/statics/module/xoffical/images/tip_dl.png" style="position: absolute;top:0px;right:0px;"/>
                </header>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        let qrcode = new QRCode(document.getElementById("qrcode"), {
            text: window.location.href,
            width: 200,
            height: 200,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
        function isInside()
        {
            var ua = navigator.userAgent.toLowerCase()
            if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                return true
            }
            return false
        }
        if(isInside())
        {
            document.getElementById("tip_dl").style.visibility="visible"
            document.getElementById("actions").style.visibility="hidden"
        }
        else
        {
            document.getElementById("tip_dl").style.visibility="hidden"
            document.getElementById("actions").style.visibility="visible"
        }
        let href="https://eryi-fish-cloud.oss-cn-chengdu.aliyuncs.com/fish_cloud/fish_test.apk"
        document.getElementById("id_a_dl").setAttribute("href",href)
    </script>
</html>