<% include View/Common/header.cshtml %>
<% include View/Common/nav_bar.cshtml %>
    <div role="main" id="main-content">
        <div class="value-props">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-6"><a class="value-prop" id="home-value-prop-intellisense-link" href="#cx_gn"><div class="value-prop-icon intellisense"></div>程序&功能</a></div>
                    <div class="col-sm-3 col-xs-6"><a class="value-prop" id="home-value-prop-debugging-link" href="#jqr_bmd"><div class="value-prop-icon debugging"></div>机器人&白名单</a></div>
                    <div class="col-sm-3 col-xs-6"><a class="value-prop" id="home-value-prop-git-link" href="#wh_sj"><div class="value-prop-icon git"></div>管理员&代理后台</a></div>
                    <div class="col-sm-3 col-xs-6"><a class="value-prop" id="home-value-prop-extensions-link" href="#gly_htgl"><div class="value-prop-icon extensions-icon"></div>维护&升级</a></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div>
                    <span id="cx_gn">程序&功能</span>
                    <hr/>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:程序支持安卓和ios么?</h4>
                            答：是的，我们的程序都是跨平台开发同时支持安州和ios，对于安卓，每个老板都会免费单独出的特殊包，该包之会登陆你一个人的服务器；
                            ios因为特殊性，需要作单独的企业签名，这个需要一点费用，该费用和市场上的企业签名价格相同，用户也可以选择获取原始包，自行找第三方付费签名。
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:服务器可以部署在windows系统的服务器上么，linux难度对于我们太大了?</h4>
                            答：可以的，我们的服务器程序在设计之初就考虑了客户对于技术的空白，让服务器同时支持了windows和linux服务器；
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:程序有代理功能么?</h4>
                            答：支持的，这个您可以登陆到体验后台去具体体验，该后台既为游戏的控制后台，拥有对游戏的绝大部分掌控能力；
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:机器人功能和白名单作弊功能是免费的么还是说有使用限制?</h4>
                            答：免费的哈，没有任何限制，积分场可以设置每个房间上多少机器人，机器人的难度，这样您就可以正对高分场次和低分场次设置不同的难度引导用户良好体验的同时，保证自己不亏本哦！建议您立刻前往后台体验。
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:如果大家都用你的程序那每个程序都外观想通了，支持按照我们的需求换皮么?</h4>
                            答：支持的哈，我们可以正对不同用户换不同的特定的皮，这样就会每个程序都是独特的了！
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:我们对玩法有特殊地方性需求，你们能帮忙定制一些功能需求么?</h4>
                            答：可以的哈，体验过后发现和自己本地特色不一样，或者想要增添新得玩法都可以在后台提交工单，我们的产品人员就会主动联系你哦！
                        </div>
                    </div>
                    <hr/>
                    <span id="jqr_bmd">机器人&白名单</span>
                    <hr/>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:每个游戏都支持机器人么?</h4>
                            答：是的哈，我们的每个子游戏都是支持机器人的哈，不过自建房间不支持机器人，因为自建场都是熟人玩，机器人如果聊天就会露馅，所以我们的机器人在每个积分场次都是可以的哈！建议到体验后台直接体验！
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:我想正对每个场次设置不同难度的机器人可以么?</h4>
                            答：可以的哈，我们的机器人支持正对不同的场次定制不同数量的机器人，不同难度的机器人哈！建议到体验后台直接体验！
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:作弊白名单是什么意思?</h4>
                            答：作弊白名单的初衷是为了提供给组局陪玩的群主的哈，一般的程序群主陪玩容易导致群主亏本，所以提供了该功能哈！建议到体验后台直接体验！
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:作弊方式会不会太明显当我们手机被朋友拿到之后容易被不小心发现?</h4>
                            答：不会的哦！我们的白名单功能都具有强烈的隐蔽性，比如麻将的白名单被触发以后，根据后台的设置概率，在概率触发的时候摸牌只会摸好牌，客户端表现完全一样，只能说运气更好；建议到体验后台直接体验！
                        </div>
                    </div>
                    <hr/>
                    <span id="gly_htgl">管理员&后台管理</span>
                    <hr/>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:后台是否只有站长可以登陆?</h4>
                            答：不是的哦！我们的后台分为三级，站长、管理员、代理；权限都不同，后台看到的内容也不同，其中站长拥有全部权限，管理员拥有出了服务器玩法特定的权限意外的大部分管理权限；代理具有代理相关的权限，比如查看自己的用户数，赠送金币，查看自己的赠送记录等；建议到体验后台直接体验！
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:管理员可以有多个么?</h4>
                            答：是的，站长只有一个，管理员可以设置无数个，管理员需要站长在后台指定，但是管理员不同同时为代理人员哦；建议到体验后台直接体验！
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:管理员可以踢人下线封禁账号么?</h4>
                            答：可以的，后台站长和管理员可以直接踢人甚至封禁用户的当前账号；建议到体验后台直接体验！
                        </div>
                    </div>
                    <hr/>
                    <span id="wh_sj">维护&升级</span>
                    <hr/>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:程序出现任何bug都可以免费更改么?</h4>
                            答：可以的，我们提供永久免费的bug修改服务，而且我们的程序目前也十分健壮，因为很多用户在使用和体验哦；但是如果意外发现问题，都可以直接后台提供工单，我们的技术人员会立刻处理！
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">FAQ1:后续你们的产品是否有自己的规划还是一直就是体验的一样?</h4>
                            答：我们的产品都有自己的规划，会不停的升级紧跟市场步伐，后续的升级对于客户来说都是永久免费的哦！
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-fixed-bottom">
        <img src="/statics/module/xoffical/images/eryi_net.png" style="width:192px;height:253px;float:left"/>
        <img src="/statics/module/xoffical/images/eryi_net.png" style="width:192px;height:253px;float:right"/>
    </div>
</div>
<% include View/Common/footer.cshtml %>