<% include View/Common/header.cshtml %>
<% include View/Common/nav_bar.cshtml %>
<link href="/statics/module/xoffical/css/price.css" rel="stylesheet" />
<link href="/statics/module/xoffical/css/icon.css" rel="stylesheet" />
<div role="main" id="main-content" class="tab-wrap box">
    <div class="container" id="tab1">
        <div class="tab-pannel">
            <div class="pannel-1 p-box">
                <div class="tab-top">

                </div>
                <ul class="tab-middle">
                    <li>
                        <i class="iconfont icon-mokuai"></i>
                        <span>包含麻将、牛牛、拼三张</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-gongzhonghao"></i>
                        <span>数据报表统计</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-gongzhonghao"></i>
                        <span>机器人自动陪玩</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-shouji"></i>
                        <span>机器人强弱控制</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-kefu"></i>
                        <span>牌桌在线查看</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-kefu"></i>
                        <span>房间在线配置</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-kefu"></i>
                        <span>房间难度随时调整</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                </ul>
                <div class="tab-bottom"><a href="http://www.eryinet.com/wechat">前往获取</a></div>
            </div>
        </div>
        <div class="tab-pannel ">
            <div class="pannel-2 p-box">
                <div class="tab-top">

                </div>
                <ul class="tab-middle">
                    <li>
                        <i class="iconfont icon-mokuai"></i>
                        <span>包含捕鱼、水果机(需单独开通)</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-gongzhonghao"></i>
                        <span>无限金币</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-gongzhonghao"></i>
                        <span>数据报表统计</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-gongzhonghao"></i>
                        <span>机器人自动陪玩</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-shouji"></i>
                        <span>房间在线配置</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-kefu"></i>
                        <span>房间难度随时调整</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-kefu"></i>
                        <span>用户单独输赢控制</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                </ul>
                <div class="tab-bottom"><a href="http://www.eryinet.com/wechat">前往获取</a></div>
            </div>
        </div>
        <div class="tab-pannel ">
            <div class="pannel-3 p-box">
                <div class="tab-top">

                </div>
                <ul class="tab-middle">
                    <li>
                        <i class="iconfont icon-mokuai"></i>
                        <span>包含麻将、牛牛、拼三张</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-gongzhonghao"></i>
                        <span>数据报表统计</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-gongzhonghao"></i>
                        <span>机器人自动陪玩</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-shouji"></i>
                        <span>房间在线配置</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-kefu"></i>
                        <span>房间难度随时调整</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-kefu"></i>
                        <span>用户白名单设置</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                    <li>
                        <i class="iconfont icon-kefu"></i>
                        <span>在线作弊系统</span>
                        <i class="iconfont icon-duiconverted pull-right c-yes"></i>
                    </li>
                </ul>
                <div class="tab-bottom"><a href="http://www.eryinet.com/wechat">前往获取</a></div>
            </div>
        </div>
    </div>
    <div class="navbar-fixed-bottom">
        <img src="/statics/module/xoffical/images/eryi_net.png" style="width:192px;height:253px;float:left"/>
        <img src="/statics/module/xoffical/images/eryi_net.png" style="width:192px;height:253px;float:right"/>
    </div>
</div>
<% include View/Common/footer.cshtml %>