.flexTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.flexOne {
  flex: 1;
}
.flexWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.os-suit-btn {
  padding: 10px 40px;
  display: inline-block;
  background-color: #0ca6f2;
  color: #ffffff;
  border-radius: 3px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  border: 1px solid #0ca6f2;
  margin: 0 0 20px;
}
.os-suit-btn:hover {
  color: #ffffff;
  background-color: #0ca6f2;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.row {
  margin: 0;
}
* {
  font-family: "Microsoft Yahei" !important;
}
a,
a:hover {
  text-decoration: none !important;
  color: #333333;
}
a:focus {
  color: #ffffff;
}
ul,
ol {
  margin: 0!important;
  padding: 0!important;
  list-style: none;
}
p,
h1 {
  line-height: 1;
  margin: 0;
}
.com-p {
  color: #999999;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
}
.box {
  padding: 50px 0;
}
.mb20 {
  margin-bottom: 20px;
}
.mb50 {
  margin-bottom: 50px;
}
.friend {
  margin: 10px;
  display: inline-block;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  width: 180px;
  height: 180px;
}
.n-friend {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.n-friend:hover {
  border: 1px solid #0ca6f2;
  color: #0ca6f2;
}
.n-friend i {
  margin-right: 10px;
}
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #f2f2f2;
}
.header .active {
  color: #1abc9c !important;
}
.header .activee {
  background: #f1f1f1;
}
.header .main-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header .main-nav .logo {
  background-image: url('../images/logo.png');
  background-size: contain;
  line-height: 40px;
  text-indent: -9999px;
  float: left;
  display: block;
  width: 150px;
  height: 33px;
}
.header .main-nav .menu > li {
  float: left;
}
.header .main-nav .menu > li > a {
  padding: 0 15px;
  color: #333333;
  display: block;
  line-height: 50px;
  font-size: 16px;
}
.header .main-nav .menu > li > a:hover {
  color: #1abc9c;
}
.header .main-nav .menu .dp-tag {
  position: relative;
}
.header .main-nav .menu .dp-tag:hover > a,
.header .main-nav .menu .dp-tag:hover i {
  color: #1abc9c;
}
.header .main-nav .menu .dp-tag:hover .dp-menu {
  display: block;
}
.header .main-nav .menu .dp-tag i {
  font-size: 18px;
}
.header .main-nav .menu .dp-tag .dp-menu {
  position: absolute;
  min-width: 145px;
  width: 145px;
  padding: 5px 0;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: none;
  opacity: 0;
  background-color: #ffffff;
  transform: translateY(-10px);
  transition: opacity .2s ease 0s,transform .2s ease 0s;
  -webkit-transition: opacity .2s ease 0s,transform .2s ease 0s;
}
.header .main-nav .menu .dp-tag .dp-menu:before {
  height: 8px;
  background-color: #fff;
  content: '';
  position: absolute;
  width: 8px;
  transform: rotate(45deg);
  top: -4px;
  left: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 9;
}
.header .main-nav .menu .dp-tag .dp-menu:after {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  height: 8px;
  background-color: #fff;
  content: '';
}
.header .main-nav .menu .dp-tag .dp-menu li {
  line-height: 40px;
}
.header .main-nav .menu .dp-tag .dp-menu a {
  font-size: 15px;
  color: #666;
}
.header .main-nav .menu .dp-tag .dp-menu a:hover {
  color: #1abc9c;
}
.header .main-nav .menu .dp-tag .in {
  opacity: 1;
  transform: translateY(0);
}
.pro {
  background: #f9f9f9;
}
.pro .propro {
  padding: 0px 15%!important;
  display: flex;
  flex-wrap: wrap;
  color: #333 ;
}
.pro .propro a {
  text-align: center;
  flex-grow: 1;
  padding: 20px 40px;
  float: left;
}
.pro .propro a li i {
  font-size: 25px;
}
.pro .propro a li .red {
  color: red;
}
.pro .propro a li .gree {
  color: #4fc1ae;
}
.pro .propro a li .green {
  color: #03a952;
}
.pro .propro a li .blue {
  color: #1296db;
}
.pro .propro a li span {
  color: #333;
  padding-left: 10px;
  font-size: 18px;
}
.pro .propro a:hover {
  background: #f1f1f1;
}
.activee {
  background: #f1f1f1;
}
.footer {
  padding: 40px 0 0;
  background: #fbfbfb;
}
.footer .list {
  text-align: left;
  margin-bottom: 20px!important;
}
.footer .list .item {
  margin-top: 15px;
}
.footer .list .item a {
  color: #666;
}
.footer .list .item a:hover {
  color: #1abc9c;
}
.footer .list .item i {
  margin-right: 7px;
}
.footer .last-list {
  border-right: 1px solid #d8d8d8;
}
.d-footer {
  padding: 20px 0;
  background: #000;
  position: relative;
}
.d-footer .rights {
  color: #5a5959;
  font-size: 14px;
  line-height: 25px;
  min-width: 540px;
  text-align: center;
}
.d-footer .rights a {
  color: #5a5959;
}
.d-footer .cnzz {
  position: absolute;
  left: 0;
  z-index: 9999;
  bottom: 0;
}
.b-bottom {
  border-bottom: 3px solid #1abd9d;
}
.fixedBox {
  width: 165px;
  z-index: 99999;
  cursor: pointer;
  position: fixed;
  top: 25%;
  right: 0;
  transition: all .3s ease;
  -webkit-transition: all .5s ease;
}
.fixedBox .rList {
  border: 7px solid #1abc9c;
  width: 125px;
  background-color: #ffffff;
  padding: 8px;
  float: right;
}
.fixedBox .rList .listLi {
  background: #c9c9c9;
  margin: 5px auto 0;
  padding: 8px;
  width: 98px;
  text-align: center;
  position: relative;
  transition: all .3s ease;
  -webkit-transition: all .3s ease ;
}
.fixedBox .rList .listLi:last-child {
  margin-bottom: 8px;
}
.fixedBox .rList .listLi:hover {
  background-color: #f1f1f1;
}
.fixedBox .rList .listLi .iconfont {
  font-size: 38px;
}
.fixedBox .rList .listLi .liText {
  margin-top: 3px;
}
.fixedBox .rList .listLi a,
.fixedBox .rList .listLi a:focus {
  color: #000;
}
.fixedBox .rList .Service {
  z-index: 999;
}
.fixedBox .rList .Service .hideQQ {
  position: absolute;
  top: 0;
  left: -159px;
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 997;
  display: none;
}
.fixedBox .rList .Service .hideQQ img {
  width: 32px;
  height: 32px;
  margin-top: 5px;
}
.fixedBox .rList .Service .hideQQ .qqImg {
  background-image: url("../images/qq.png");
  width: 97px;
  height: 28px;
}
.fixedBox .rList .Service .hideQQ .leftLi {
  margin-left: 10px;
  text-align: left;
}
.fixedBox .rList .Service:hover {
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.fixedBox .rList .Service:hover .hideQQ {
  display: block;
}
.fixedBox .rightSlide {
  width: 40px;
  height: 120px;
  background: #1abc9c;
  float: right;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.moveRight {
  transform: translateX(125px);
  -webkit-transform: translateX(125px);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.video-box {
  position: fixed;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -400px;
  height: 283px;
  display: none;
  z-index: 10;
}
.video-box .close {
  width: 40px;
  color: #999;
  background-color: #000;
  position: absolute;
  top: 0;
  right: -40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  opacity: 1;
  display: none;
}
.menban {
  z-index: 998;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.totop {
  position: fixed;
  z-index: 999;
  right: 5px;
  bottom: 75px;
  display: block;
  width: 26px;
  height: 62px;
  background: url(../images/rocket.png) no-repeat 0 0;
  -webkit-transition: all 0.2s ease-in-out;
}
.totop:hover {
  background: url(../images/rocket.png) no-repeat 0 -62px;
}
.d-box {
  z-index: 999999999;
  position: absolute;
}
.d-box img {
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -360px;
}
.c-close {
  position: absolute;
  right: 615px;
  top: 210px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}
.recruit {
  background: url(../images/rree.png);
  width: 200px;
  height: 232px;
  position: fixed;
  right: 0;
  z-index: 99999;
  bottom: 200px;
}
.smallOs {
  height: 4179px;
  width: 1920px;
  position: relative;
}
.joinOs {
  position: absolute;
  bottom: 550px;
  width: 235px;
  height: 65px;
  left: 605px;
  display: inline-block;
}
.right-fix .consultation {
  padding: 30px 0 0 16px!important;
}
.c-yes {
  color: #0ca6f2!important;
}
.c-wrong {
  color: #eb4f38!important;
}
.row {
  margin: 0;
}
.freepeise {
  height: 56px;
  background: url(../images/custom/freepeise.png) no-repeat center #e31d2d;
}
.box {
  padding-top: 10px;
}
.tab-wrap .nav-tab {
  margin: 0 auto 10px!important;
  padding: 0 20px!important;
  display: table;
}
.tab-wrap .nav-tab a {
  padding: 15px 35px;
  border-radius: 0;
  font-size: 16px;
}
.nav-pills > li + li {
  margin-left: 0;
}
.nav-tab > li > a:hover,
.nav > li > a:focus {
  color: #0ca6f2;
  text-decoration: none;
  background-color: transparent;
}
.nav-tab > li.active > a,
.nav-tab > li.active > a:hover,
.nav-tab > li.active > a:focus {
  color: #0ca6f2;
  border-bottom-color: #0ca6f2;
}
.nav-tab > li > a {
  border-bottom: 1px solid #e5e5e5;
}
.tab-title {
  font-size: 32px;
}
.btn-g {
  margin: 25px 0;
}
.os-suit-btn {
  margin-bottom: 0!important;
}
.tab-left{
  float: left;
  height: 100%;
  width:20%;
  padding: 20px;
}
.tab-middle{
  float: left;
  height: 100%;
}
.tab-right{
  float: right;
  height: 100%;
  width:20%;
  border-left: 1px solid #1abc9c98;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 0px;
}
.tab-pannel{
  margin-top: 50px;
  width: 100%;
}
.tab1-title2 {
  font-size: 18px;
  color: #333333;
  padding-bottom: 20px;
}
.tab-pannel {
  padding: 0 ;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tab-pannel .iconfont {
  font-size: 24px;
  font-weight: normal;
}
.pannel-1 .tab-left {
  text-align: center;
  background: #1abc9c;
  background-image: url('../images/ey_fish.png');
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: 70%;
  color: #ffffff;
}
.tab-pannel .tab-left p {
  margin: 0;
}
.tab-pannel .tab-left .p1 {
  font-size: 24px;
  line-height: 46px;
  padding-top: 10px;
}
.tab-pannel .tab-left .p2 {
  font-size: 36px;
  line-height: 46px;
}
.tab-pannel .tab-left .p3 {
  font-size: 14px;
  line-height: 30px;
}
.tab-pannel .tab-middle li {
  height: 58px;
  padding: 0 15px;
}
.tab-pannel .tab-middle li span {
  color: #666;
  line-height: 58px;
}
.tab-pannel .tab-middle li i {
  line-height: 58px;
  color: #666;
}
.tab-pannel .tab-right:hover a {
  color: #1abc9c;
}
.tab-pannel .tab-right a {
  font-size: 18px;
  color: #666;
  line-height: 64px;
}
.tab-pannel .tab-right a i {
  margin-right: 10px;
}
.pannel-1 {
  width:100%;
  height:200px;
  box-shadow: 0px 0px 20px 20px rgba(26, 188, 156, 0.233);
}
.pannel-2 {
  width:100%;
  height:200px;
  margin-top: 50px;
  box-shadow: 0px 0px 20px 20px rgba(64, 140, 255, 0.15);
}
.pannel-2 .tab-left {
  text-align: center;
  background: #408CFF;
  background-image: url('../images/ey_yl.png');
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: 70%;
  color: #ffffff;
}
.pannel-2 .tab-middle {
  border-color: #408CFF;
}
.pannel-2 .tab-right {
  border-color: #408CFF;
}
.pannel-2 .tab-right a:hover {
  color: #408CFF;
}
.pannel-3 {
  width:100%;
  height:200px;
  margin-top: 50px;
  box-shadow: 0px 0px 20px 20px rgba(255, 140, 102, 0.2);
}
.pannel-3 .tab-left {
  text-align: center;
  background: #FF8C66;
  background-image: url('../images/ey_fk.png');
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: 70%;
  color: #ffffff;
}
.pannel-3 .tab-left .p1 {
  padding-top: 10px;
}
.pannel-3 .tab-middle {
  border-color: #FF8C66;
}
.pannel-3 .tab-right {
  border-color: #FF8C66;
}
.pannel-3 .tab-right a:hover {
  color: #FF8C66;
}
.pannel-4 {
  width:100%;
  height:200px;
  top: -10px;
}
.pannel-4 .tab-left {
  background: #FF7373;
}
.pannel-4 .tab-left .p1 {
  padding-top: 20px;
}
.pannel-4 .recommend {
  width: 50px;
  height: 60px;
  position: absolute;
  left: 130px;
  background-color: #FF756B;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
.pannel-4 .recommend:after {
  content: "";
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  left: 0;
  top: 10px;
}
.pannel-4 .tab-middle {
  border-color: #FF7373;
}
.pannel-4 .tab-right {
  border-color: #FF7373;
}
.pannel-4 .tab-right a:hover {
  color: #FF7373;
}
.pannel-5 {
  box-shadow: 8px 4px 20px 1px rgba(0, 166, 214, 0.1);
}
.pannel-5 .tab-left {
  background: #00A6D6;
}
.pannel-5 .tab-middle {
  border-color: #00A6D6;
}
.pannel-5 .tab-right {
  border-color: #00A6D6;
}
.pannel-5 .tab-right a:hover {
  color: #00A6D6;
}
.c-more .c-box {
  padding: 0 ;
}
.c-more .c-box .b-circle {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #17ae95;
  padding: 10px;
  display: inline-block;
}
.c-more .c-box .b-circle .s-circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #1abc9c;
  padding: 10px;
}
.c-more .c-box .b-circle .s-circle .c-circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #ffffff;
  color: #1abc9c;
  text-align: center;
}
.c-more .c-box .b-circle .s-circle .c-circle i {
  font-size: 40px;
  line-height: 80px;
}
.c-more .c-box .l-info {
  display: inline-block;
  padding-left: 20px;
  height: 100%;
}
.c-more .c-box .l-info h4 {
  font-size: 30px;
  font-weight: normal;
  color: #1abc9c;
}
.c-more .c-box .l-info p {
  font-size: 16px;
  color: #999999;
}
.c-more .person-dz {
  height: 180px;
  border-radius: 3px;
  padding: 30px 0;
  box-shadow: 0 6px 20px 1px rgba(0, 0, 0, 0.2);
}
.c-more .new-found {
  background-color: #0ca6f2;
  border-radius: 3px;
  color: #ffffff;
  height: 180px;
  padding: 30px 0;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
}
.c-more .new-found .b-circle {
  background-color: rgba(0, 0, 0, 0.2);
}
.c-more .new-found .b-circle .s-circle {
  background-color: rgba(0, 0, 0, 0.1);
}
.c-more .new-found .b-circle .s-circle .c-circle {
  background-color: transparent!important;
}
.c-more .new-found .b-circle .s-circle .c-circle i {
  color: #ffffff;
}
.c-more .new-found .l-info {
  padding-left: 0;
  padding-right: 20px;
}
.c-more .new-found .l-info h4 {
  color: #ffffff !important;
}
.c-more .new-found .l-info p {
  color: rgba(255, 255, 255, 0.8) !important;
}
.line-box {
  border-top: 1px solid #f2f2f2;
  margin: 50px 0;
  position: relative;
}
.line-box span {
  display: inline-block;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
  padding: 3px 10px;
  border-radius: 30px;
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -27px;
  color: #999999;
}

.groom {
  box-shadow: 0 4px 30px 1px rgba(255, 140, 102, 0.3) !important;
  position: relative;
}
.groom .gIcon {
  background: url("../images/groom.png");
  width: 68px;
  height: 58px;
  position: absolute;
  right: -20px;
  top: -20px;
}
.newWrap {
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 14px!important;
}
.newWrap td {
  width: 16.66666667%;
  height: 70px;
}
.table-bordered td {
  border: 1px solid #eee!important;
}
.cRed {
  color: red;
}
.cGreen {
  color: #1ABC9C;
}
.newTitle {
  font-weight: bold;
  position: relative;
  font-size: 16px;
}
.pThrough {
  text-decoration: line-through;
  margin-bottom: 10px;
}
.btm {
  border-bottom: 1px solid #eee;
  height: 50%;
  width: 100%;
  line-height: 32px;
  margin: 0;
}
.btm:last-child {
  border: none;
}
.mgl10 {
  margin-left: 10px;
}
.hMask {
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  position: absolute;
  background-color: #fff;
  color: #333;
  text-align: left;
  right: 0;
  z-index: 99999;
  display: none;
  transition: all .3s ease;
  font-size: 14px;
}
.hMask p {
  line-height: 30px;
}
.lastOne:hover .hMask {
  display: block;
}
.fontS {
  font-size: 16px;
}
.icon-duiconverted {
  color: red;
}
.icon-cuoconverted {
  color: #d3d3d3;
}
.invoice {
  padding: 0;
}
.invoice .invoice-content {
  padding: 80px 0;
  background-color: #fff;
  margin-top: 40px;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
}
.invoice .invoice-content .left .title {
  color: #000;
  font-size: 24px;
}
.invoice .invoice-content .left .text {
  display: flex;
  margin-top: 30px;
}
.invoice .invoice-content .left .text img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.invoice .invoice-content .left .text .text-text {
  color: #333;
}
.invoice .invoice-content .left .text .text-text .text-title {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 24px;
}
.invoice .invoice-content .left .text .text-text p {
  font-size: 14px;
  margin-bottom: 10px;
}
.invoice .invoice-content .left .bottom-text {
  font-size: 12px;
  margin-top: 80px;
  color: #ff0101;
}
.invoice .invoice-content .right {
  margin-top: 66px;
  display: flex;
}
.invoice .invoice-content .right img {
  width: 23px;
  height: 23px;
  margin-right: 5px;
}
.invoice .invoice-content .right .text-text {
  color: #333;
}
.invoice .invoice-content .right .text-text .text-title {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 24px;
}
.invoice .invoice-content .right .text-text p {
  font-size: 14px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=custom.css.map */